<!--<ul>
	<li *ngFor="let person of people">
		<p>{{person.nombre}}</p>
		<p>{{person.edad}}</p>
		<p>{{person.hobby}}</p>
	</li>
</ul>

<div class="container">
	<form [formGroup]="miFormulario" ngNativeValidate>
		Usuario: <input 
		[class.is-invalid]="miFormulario.get('userName').touched && miFormulario.get('userName').invalid"
		type="text" 
		class="form-control" 
		formControlName="userName"
		required>
		Password: <input 
		[class.is-invalid]="miFormulario.get('userPassword').touched && miFormulario.get('userPassword').invalid"
		type="password" 
		class="form-control" 
		formControlName="userPassword"
		required><br/>
		<button class="btn btn-primary" type="submit">Enviar</button>
	</form>
	
	{{miFormulario.value | json}}
</div>

<button mat-raised-button color="primary">Click me!</button>
-->

<material-nav-yatu>
	
</material-nav-yatu>
<data-table-yatu></data-table-yatu>